/*Select any elements with map id*/
#map {
    height:100%;
    width:100%;
    top:0px;
    left:0px; 
    position: fixed;
}

/*Select any elements with title id*/
#title {
    position: absolute;
    z-index: 2;
    opacity: 0.80;
    color: black;
    background: rgb(213, 213, 213) none repeat scroll 0% 0%;
    left: 35%;
    width: 30%;
    border-radius: 0 0 50px 50px;
}

/*Select any elements with h2 tag in title id */
#title h3 {
    text-align: center;
}

/*Select any elements with h3 tag in title id */
#title h4 {
    text-align: center;
}

#footer {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.70;
    background: rgb(213, 213, 213) none repeat scroll 0% 0%;
    text-align: center;
}